#MkDocs
site/

# Byte-compiled / optimized / DLL files
**/__pycache__
**/.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# virtual envs
**/.venv/

# GitHub
# **/.github/

# VSCode
**/.vscode/

# Coverage
**/.coverage

# truc bizarre
**/.DS_Store

# site construit
public/
site/
_build/
# CHANGELOG.md
