.zencodeR/

#MkDocs
site/

# Byte-compiled / optimized / DLL files
**/__pycache__
**/.pytest_cache

# Jupyter Notebook
.ipynb_checkpoints

# virtual envs
**/.venv/

# GitHub
# **/.github/

# VSCode
**/.vscode/

# Coverage
**/.coverage

# truc bizarre
**/.DS_Store

# site construit
public/
site/
_build/
# docs/versions.json
# CHANGELOG.md

/docs/versions.json

/docs/outils/logs/CHANGELOG.md
/docs/outils/logs/hebdo.md

# Généré par les workflows (push, dayly, hebdo)
/docs/outils/logs/deploy_info.md 
