{% extends "base_pmt.html" %}

<!-- Pour éditer la page dans un autre onglet -->
{# Note: Quasi inutile car bouton d'origine est maintenant ouvert dans un nouvel
onglet, grâce au plugin: - open-in-new-tab: add_icon: true → Gardé pour
personnalisation du lmessage et modèle de surcharge du thème #} {% block content
%} {# Afficher le bouton d'édition seulement si la page n'a pas
hide_edit_button: true #} {% if not page.meta.hide_edit_button %}
<a
  href="{{ page.edit_url }}"
  title="Modifier cette page"
  class="md-content__button md-icon"
  target="_blank"
  rel="edit"
>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M10 20H6V4h7v5h5v3.1l2-2V8l-6-6H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h4zm10.2-7c.1 0 .3.1.4.2l1.3 1.3c.2.2.2.6 0 .8l-1 1-2.1-2.1 1-1c.1-.1.2-.2.4-.2m0 3.9L14.1 23H12v-2.1l6.1-6.1z"
    ></path>
  </svg>
</a>
{% endif %} {{ super() }} {% endblock %} {% block footer %} {{ super() }}
<script>
  fetch("/versions.json")
    .then((response) => {
      if (!response.ok) throw new Error("Version file not found");
      return response.json();
    })
    .then((data) => {
      const version = data.version || "inconnue";
      const footer = $(".md-copyright_pyodide #pyodide-footer");
      if (footer.length) {
        footer.prepend(
          $(`<div>PyMoX ${version}</div>`).css({
            display: "flex",
            justifyContent: "right",
            fontWeight: "bold",
          })
        );
      }
    })
    .catch((error) => {
      console.warn("Impossible de charger la version :", error);
    });
</script>
{% endblock %}
